@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto+Flex:opsz,wght@8..144,400;8..144,500;8..144,700&display=swap');



.highlight {
  color: #00FF6C;
  font-family: 'Anton';
  font-size: 80px;
}


.container {
  max-width: 700px;
}